<div class="cover-page-header">
    <div class="main-heading">
        <div class="candidate-name">{{candidateName}}</div>
        <div class="company-name">
          <img src="assets/images/Cog_logo.png" alt="" srcset="">
        </div>

    </div>
    <div class="contact-info">
        <a class="mobile" [attr.href]="'tel:' + mobile" > {{mobile}}</a>
        <a class="email" target="_blank" [attr.href]="'mailto:' + email">{{email}}</a>
    </div>
    <div class="role">{{role}}</div>
    <div class="social" >
        <div *ngFor=" let link of socialLinks" [matTooltip]="link.site">
            <a [href]="link.ProfileLink" class="link"><i [ngClass]="link.icon" class="fa"></i></a>
            <a *ngIf="link.site === 'Resume'" class="resume-heading" [routerLink]="['/coverPage', {export: true}]" target="_blank">RESUME</a>
        </div>

    </div>
</div>
