.page-not-found {
  text-align: center;
  font-family: "Work Sans", sans-serif;

  .not-found {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 800px;
    height: 500px;

    .error-heading {
      font-size: 180px;
      font-weight: 300;
      margin: auto;
      color: #4855b5;
    }
    .message {
      font-size: 30px;
      color: #000000;
    }
    .subtext{
        font-size: 18px;
        color: #4d4d4d;
        margin-top: 50px;
    }
  }
}
