<div class="flex tabs-container">
    <div class="tabCont">
        <div class="tabsList">
            <div class="tabsLink active">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit1?</span>
            </div>
            <div class="tabsLink">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit1?</span>
            </div>
            <div class="tabsLink">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit1?</span>
            </div>
            <div class="tabsLink">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit1?</span>
            </div>
        </div>
    </div>
    <div class="tabsContentSec">
        <div class="tabsCross flex flexEnd">
            <img src="/assets/images/tabsCross.svg" alt="">
        </div>
        <div class="tabsContent" id="tabs1">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit?1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>