.details-list-card.mat-card {
    background: linear-gradient(rgb(108, 169, 248), rgb(122, 226, 202));;
    padding: 0;
    padding-left: 7px;
    border-radius: 0;
    // margin-bottom: 40px;


    .details-list-card-header.mat-card-header{
        padding: 20px ;
        padding-top: 30px;
        padding-bottom: 10px;
        background-color: #ffffff;
        outline: none;
        flex-wrap: wrap;
        .mat-card-title {
            margin: 0 -16px;
        }
    }

    .details-list-card-content.mat-card-content{
        background-color: #ffffff;
        outline: none;
        padding: 20px;
        white-space: pre-line;
        padding-top: 0;
        font-size: 24px;
        font-weight: normal;
    }

  .items {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 18px;
    color: #676364;
    line-height: 1.5;

    .bullet {
      height: 9px;
      width: 9px;
      border-radius: 50%;
      background-image: linear-gradient(to right, rgb(108, 169, 248), rgb(122, 226, 202));;
      margin-right: 10px;
    }
  }
}
.details-list-card:hover .card-options{
  display: flex;
}
.card-options{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #484848;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;

  li{
    padding: 0 4px;
    cursor: pointer;
  }
}

.editing:after{
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  background: #0808088a;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.editing .details-list-card{
  z-index: 2;
}

.card-title {
  font-size: 26px;
  font-weight: 500;
  .light{
    font-weight: 400;
  }
}
.card-sub-title{
  width: 100%;
  font-size: 22px;
  color: #776c6e;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
