<div class="loader-container"  *ngIf="exporting">
  <div class="loader">
      <mat-spinner></mat-spinner>
      <p style='text-align:center; margin-top: 10px'>Exporting</p>
  </div>
</div>
<div class="cover-page" id="cover-page">
    <div class="page-section page-1" [ngClass]="exporting?'page-section page-1 fixed': 'is-paged page-section page-1'">

      <div class="header">
          <app-cover-page-header
            [candidateName]="candidateData.FullName"
            [candidateId]="candidateData.CandidateId"
            [role]="candidateData.JobTitle"
            [companyName]="'Cognixia'"
            [socialLinks]="candidateData.CandidateSocialProfileDetails"
            [mobile]="candidateData.MobileNumber"
            [email]="candidateData.EmailId"
            [exporting]="exporting"
            [target]="target"
            (export)="export()">
          </app-cover-page-header>
      </div>
      <div class="primary-skills" *ngIf="primarySkills?.length">
          <div class="heading">
              <span>PRIMARY SKILLS AND EXPERIENCE EQUIVALENCY</span>
          </div>
          <div class="skills">
              <div class="skills-row">
                <div *ngFor="let skill of primarySkills" class="skill-circle">
                    <app-score *ngIf="!exporting" [skill]="skill.Skill" [months]="skill.Experience" [rating]="skill.Proficiency" [iconPath]="skill.SkillIcon"></app-score>
                    <app-score-read-only *ngIf="exporting" [skill]="skill.Skill" [months]="skill.Experience" [rating]="skill.Proficiency" [iconPath]="skill.SkillIcon"></app-score-read-only>
                </div>
              </div>

          </div>
      </div>
      <div class="additional-skills" *ngIf="additionalSkills?.length" ngClass="exporting?'export':''">
          <div class="heading">
              <span>ADDITIONAL SKILLS AND EXPERIENCE</span>
          </div>
          <div class="skills">
              <div class="skills-row">
                <div *ngFor="let skill of additionalSkills" class="skill-circle" >
                      <app-score *ngIf="!exporting" [skill]="skill.Skill" [months]="skill.Experience" [rating]="skill.Proficiency" [iconPath]="skill.SkillIcon"></app-score>
                      <app-score-read-only *ngIf="exporting" [skill]="skill.Skill" [months]="skill.Experience" [rating]="skill.Proficiency" [iconPath]="skill.SkillIcon"></app-score-read-only>
                </div>
              </div>

          </div>
      </div>
      <div class="other-info">
          <div class="trained-on" >
              <div class="heading">
                  <span>Trained On</span>
              </div>
              <div class="training-list" *ngIf='candidateData?.Trainings?.length'>
                  <div *ngFor="let training of candidateData.Trainings">
                      <div class="bullet"></div>
                      <div class="item">{{training.Training}}</div>
                  </div>
              </div>
          </div>
          <div class="personal-video" *ngIf='candidateData?.VideoLink && !exporting'>
              <div class="heading">
                  <span>Personal Video</span>
              </div>
              <div class="video">
                  <iframe width="352" height="200" [src]="candidateData?.VideoLink | safe" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
              </div>
          </div>
          <div class="feedback" >
              <div class="heading">
                  <span>Jump Instructor Feedback</span>
              </div>
              <div class="content" *ngIf='candidateData?.InstructorFeedback'>
                  <span>" {{candidateData.InstructorFeedback}} "</span>
              </div>
          </div>
      </div>
      <div class="personal-summary">
          <div class="heading">
              <span>Personal Summary</span>
          </div>
          <div class="content">
              <span>{{candidateData.Summary}}</span>
          </div>
      </div>
    </div>
    <!-- *ngIf="candidateData.EmploymentHistory?.EmployerOrg?.length" -->
    <div [ngClass]="exporting?'page-section fixed': 'is-paged page-section '"  #target>
        <div class="additional-projects prof-experience" >
            <div class="heading">
                <span>Experience</span>
            </div>
            <div class="content">
                <div *ngFor="let org of candidateData?.CandidateExperienceDetails">

                    <app-details-list-card class="additional-project-card" [is-editable]="isEditable && !exporting">
                        <div title class="card-title">
                            <span>{{org.Company_Name}} <span class="light">- {{org.Location}}</span></span>
                        </div>
                        <div sub-title class="card-sub-title">
                            <span class="emp-role">{{org.Job_Title}}</span>
                            <span class="duration">{{org.Start_Date | date}} <span *ngIf='org.End_Date'> - </span>{{org.End_Date | date}}</span>
                        </div>
                        <div content class="card-content" [innerHtml]="org.Job_Description">
                            <!-- <div *ngFor="let item of project.keyPoints" class="items">
                                <div class="bullet"></div>
                                <div class="item">{{item}}</div>
                            </div> -->
                            <!-- {{org.PositionHistories[0].Description}} -->
                        </div>
                    </app-details-list-card>
                </div>
            </div>
        </div>
      <div class="additional-projects" *ngIf="candidateData.ProjectDetails?.length">
          <div class="heading">
              <span>Additional Projects</span>
          </div>
          <div class="content">
              <div *ngFor="let project of candidateData.ProjectDetails">
                  <app-details-list-card [is-editable]="isEditable" class="additional-project-card">
                      <div title class="card-title">
                          <span>{{project.Project_Title}}</span>
                      </div>
                      <div content class="card-content" [innerHtml]="project.Project_Description">
                          <!-- <div *ngFor="let item of project.keyPoints" class="items">
                              <div class="bullet"></div>
                              <div class="item">{{item}}</div>
                          </div> -->
                      </div>
                  </app-details-list-card>
              </div>
          </div>
      </div>
      <div class="education-certification" >
          <div class="heading">
              <span>Education & Certification</span>
          </div>
          <div class="content" *ngIf="candidateData.CandidateEducationDetails?.length">

              <div *ngFor="let education of candidateData.CandidateEducationDetails">
                  <app-details-list-card [is-editable]="isEditable" class="education-certification-card">
                      <div title class="card-title">
                          <span>{{education.School_Name}} {{education.Start_Date | date}} - {{education.End_Date | date}}</span>
                          <!-- <span style="font-weight: normal"> (</span><span>{{education.Degree[0]?.DegreeDate[0]}}</span> <span>)</span> -->
                      </div>
                      <div content class="card-content">
                          <div class="items">
                              <div class="bullet"></div>
                              <div class="item">
                                  <span>{{education.degreeType}}<span *ngIf="education.degreeType">:</span> </span>
                                  <span>{{education.Degree_Name}}</span>
                              </div>
                          </div>
                      </div>
                  </app-details-list-card>
              </div>
          </div>
      </div>
      <footer>
          <div class="footer">
              <div class="candidate-name">{{candidateData.FullName}}</div>
              <div class="company-name">
                <img src="assets/images/Cog_logo.png" alt="" srcset="">
              </div>
          </div>
      </footer>
    </div>
</div>
