<div class="forgot-pass-container">
	<section class="logo-symbol"><img src="/assets/images/CS_new_logo_105x106.svg" class="left-section-text" [routerLink]="['/']"></section>
	<section class="forgot-pass-content">
		<app-send-otp *ngIf="forms.sendOTP" (formSubmit)="otpSent($event, 'confirmOTP')"></app-send-otp>
		<app-confirm-otp *ngIf="forms.confirmOTP" [email]="email" (formSubmit)="otpConfrimed($event, 'newPassword')"></app-confirm-otp>
		<app-new-password *ngIf="forms.newPassword" [email]="confirmOTPSubmittedValue.email" [otp]="confirmOTPSubmittedValue.otp" (formSubmit)="passwordChanged()"></app-new-password>
	</section>
	<section class="company">
	</section>
</div>