<div class='score-container' nz-tooltip [nzTitle]="skillTemplate" >
    <div class="radial-progress skill-border-color">
        <div class="circle">
            <!-- <div class="mask full" [@rotatedState]="{value: state, params: { rotDeg: fillRotation}}">
                <div class="fill" [@rotatedState]="{value: state, params: { rotDeg: fillRotation}}"><div></div></div>
                <div class="test"></div>
            </div> -->
            <!-- <div class="mask half">
                <div class="fill" [@rotatedState]="{value: state, params: { rotDeg: fillRotation}}"><div></div></div>
                <div class="fill fix" [@rotatedState]="{value: state, params: { rotDeg: fixRotation}}"><div></div></div>
                <div class="test"></div>
            </div> -->
        </div>
        <div class="inset">
            <img class="icon" [alt]="skill" [src]="iconPath" />
        </div>

    </div>
    <div class="text" *ngIf="months"><span >{{months}} Months</span></div>
</div>
<ng-template #skillTemplate>
  {{skill}}
</ng-template>
