<div class="spaceFourtFourty flex itemCenter aboutClHead">
    <div class="aboutLogoCont">
        <img src="/assets/images/CS_new_logo 315x86.svg" alt="">
    </div>
    <!-- <div class="aboutCurentV">
        <div class="flex currentVrowCont">
            <span>Current Version</span>
            <span>: 1.0.0</span>
        </div>
        <div class="flex currentVrowCont">
            <span>Update Status</span>
            <span>: Update Available</span>
        </div>
        <div class="flex currentVrowCont">
            <span>Contact us</span>
            <span>: sample_name.xyz@domian.com</span>
        </div>
    </div> -->

    <!-- <div class="updateBtn">
        <img src="/assets/images/updateBtn.svg" alt="">
    </div> -->
</div>
<div class="spaceFourtFourty aboutHeadContUl">
    <div class="headings">
        <!-- <h3>Heading</h3> -->
        <p>ClikSource is one of the world’s fastest growing hiring app which is transforming the way hiring is done. Powered by artificial intelligence, data science and smart automation, ClikSource is an on-demand, all in-one, hiring platform, digitally connecting employers and job seekers in real-time. Even though the app is powered by next generation digital technologies, we understand the importance of human connection, which is why we bring the element of emotional intelligence (E.I.) through video interactive features to ensure the connection is there. At ClikSource, we are committed to provide top notch, user-friendly technology, and exceptional customer service to make certain that our platform has everything you need to have a seamless experience, whether you're an employer or candidate
        </p>
        <br>
        <!-- <p>Looking for a job is a tough, grinding, and often fruitless journey; so too the search to find passionate, inspired staff, capable of turning a vision into a success. The most common response to “how’s the job search going?” Usually, a loud, lengthy groan.</p>
        <br>
        <p>At Collabera, we reach out a hand to turn the search into a companionable, supportive journey. A journey that certainly doesn’t inspire groaning, and one that no one ever takes alone.</p>
        <br>
        <p>Our supportive employee network helps place talented professionals at innovative companies across the world, providing continuous support for both client and consultant throughout the length of each project.</p>
        <br>
        <p>We’re the seekers, the hunters, the pacers of pavements, wearing holes in our proverbial shoes looking for the perfect person for the project, the perfect project for the person.</p>
        <br>
        <p>At Collabera, the job isn’t where the journey starts. The job is where the dreaming turns a corner. We’re the page where a story comes to life.</p>
        <br>
        <p>Whether you’re a recent graduate hoping to get your foot in the door, a C-level professional searching for your next challenge, or a company (large or small) in need of staffing support, reach out. We’re here to help.</p> -->
    </div>
    <!-- <div class="headings">
        <h3>Sub Heading</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="headings listAbout">
        <h3>List Heading</h3>
        <ul class="noPaddingUl">
            <li class="subUl">
                list Item 1
                <ul>
                    <li>list Item 1-1</li>
                </ul>
            </li>
            <li>list Item 2</li>
            <li>list Item 3</li>
        </ul>
    </div> -->
</div>