
  <section class="wrapper">
<div class="container-fluid">

<section class="back_section">
  <div class="row flex">
    <div class="col col-6"><h3>My 360 Profile</h3><span>Last Updated: 2 days ago</span></div>
    <div class="col col-6">
      <div class="share_prof">
      <!-- <button>Share Profile</button> -->
      <button [routerLink]="['/profile/edit']"><i class="fa fa-pencil"></i> Edit Profile</button>
    </div>
  </div>
  </div>
</section>

  <section class="profile_section">
    <div class="row flex">
    <div class="col col-9">
      <div class="left_profile_sec">

    <div class="profile_img">
<div class="left_sec">
<img class="img-responsive" src="assets/images/user-pic.png"/>
<div class="brief">
<h4>Tim Paine</h4>
<p>Java Developer</p>
<i class="fa fa-map-marker"></i><span>Brooklyn, NY</span>
<ul>
  <li><i class="fa fa-linkedin"></i></li>
  <li><i class="fa fa-facebook"></i></li>
  <li><i class="fa fa-twitter"></i></li>
  <li><i class="fa fa-github"></i></li>

</ul>
</div>
</div>

<div class="left_sec avail">
<span>7.5 Yrs Exp</span>
<span>AVAILABLE IMMADIATELY</span>
<ul>
  <li></li>
</ul>
</div>

    </div>
<!--  -->

<div class="profile_tab">
  <div class="row">
      <nz-tabset>
          <nz-tab nzTitle="PERSONAL">
            <div class="col col-6">
                <table class="table">
                    <tr>
                      <td>FIRST NAME</td>
                      <td>Tim</td>
                    </tr>
                    <tr>
                      <td>MIDDLE NAME</td>
                      <td>John</td>
                    </tr>
                    <tr>
                      <td>LAST NAME</td>
                      <td>Paine</td>
                    </tr>
                    <tr>
                      <td>SEX</td>
                      <td>Male</td>
                    </tr>
                    <tr>
                        <td>DOB</td>
                        <td>July 27, 1990</td>
                      </tr>
                      <tr>
                          <td>HOBBIES</td>
                          <td>Tennis, Cricket, Ethical Hacking</td>
                        </tr>
                  </table>
            </div>
            <div class="col col-6">
                <table class="table">
                    <tr>
                      <td>MOBILE NO</td>
                      <td>+1-302-545-0098</td>
                    </tr>
                    <tr>
                      <td>EMAIL ADDRESS</td>
                      <td>tim.paine@gmail.com</td>
                    </tr>
                    <tr>
                      <td>WEBSITE</td>
                      <td>www.timpaine.com</td>
                    </tr>
                    <tr>
                      <td>ZIP CODE</td>
                      <td>94027</td>
                    </tr>
                    <tr>
                        <td>ADDRESS</td>
                        <td>34, Green Avenue, Miller Street, Jones Town, NJ, USA</td>
                      </tr>
                      <tr>
                          <td>PHONE N0.</td>
                          <td>+1-302-545-0098</td>
                        </tr>
                  </table>
            </div>
            

          </nz-tab>
          <nz-tab nzTitle="EMPLOYMENT">
            Content of Tab Pane 2
          </nz-tab>
          <nz-tab nzTitle="EDUCATION">
            Content of Tab Pane 3
          </nz-tab>
          <nz-tab nzTitle="REFRENCES">
            Content of Tab Pane 3
          </nz-tab>
          <nz-tab nzTitle="INTERVIEW FEEDBACK">
            Content of Tab Pane 3
          </nz-tab>
        </nz-tabset>
  </div>
</div>





    <!--  -->
<div class="work_exp">
  <h4>WORK EXPERIENCE (5-4 Yrs)</h4>
  <div class="word_card">
  <div class="col col-9">
    <h3>Senior Java Developer</h3>
    <p>Microsoft</p>
    <p>Dynamic and motivated professional with a proven record of generating and building relationships, managing projects from concept to completion, designing educational strategies, and coaching individuals to success. Skilled in building cross-functional teams, demonstrating exceptional communication skills, and making critical decisions during challenges. </p>
  </div>
  <div class="col col-3">
    <span>Full Time  | Jun 2019-Current</span>
    <p>Brooklyn, NY</p>
  </div>
</div>

<hr>

<div class="word_card">
    <div class="col col-9">
      <h3>Senior Java Developer</h3>
      <p>IBM</p>
      <p>Dynamic and motivated professional with a proven record of generating and building relationships, managing projects from concept to completion, designing educational strategies, and coaching individuals to success. Skilled in building cross-functional teams, demonstrating exceptional communication skills, and making critical decisions during challenges. </p>
    </div>
    <div class="col col-3">
      <span>Full Time  | Jun 2019-Current</span>
      <p>Brooklyn, NY</p>
    </div>
  </div>

</div>

<!--  -->

<div class="educational_history">
    <h4>EDUCATIONAL HISTORY</h4>
   
    <div class="edu_sec">
      <div class="col col-9">
<h3>Masters Of Computer Application</h3>
<p>University Of South Carolina</p>
<p>Major in System Software engineering</p>
      </div>
      <div class="col col-3">
<span>Jun 2014 - Mar 2016</span>
<span>GPA : <span>3.35</span></span>
      </div>

    </div>

    <hr>
    
    <div class="edu_sec">
        <div class="col col-9">
  <h3>Masters Of Computer Application</h3>
  <p>University Of South Carolina</p>
  <p>Major in System Software engineering</p>
        </div>
        <div class="col col-3">
  <span>Jun 2014 - Mar 2016</span>
  <span>GPA : <span>3.35</span></span>
        </div>
  
      </div>

      <hr>
      
    <div class="edu_sec">
        <div class="col col-9">
  <h3>Masters Of Computer Application</h3>
  <p>University Of South Carolina</p>
  <p>Major in System Software engineering</p>
        </div>
        <div class="col col-3">
  <span>Jun 2014 - Mar 2016</span>
  <span>GPA : <span>3.35</span></span>
        </div>
  
      </div>


</div>



<div class="reference">
    <h4>REFREENCES</h4>

<div class="refer_sec">
  <div class="col col-9">
      <h3>Jacob  Anthony</h3>
<span>General Manager, MakeMyTrip.com</span>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
  </div>
  <div class="col col-3">
      <i class="fa fa-envelope-o"></i> 
      <span>gaurav.k.mzp@gmail.com</span>
  </div>
</div>

<hr>



<div class="refer_sec">
    <div class="col col-9">
        <h3>Jacob  Anthony</h3>
  <span>General Manager, MakeMyTrip.com</span>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
    </div>
    <div class="col col-3">
        <i class="fa fa-envelope-o"></i> 
        <span>gaurav.k.mzp@gmail.com</span>
    </div>
  </div>


</div>




</div>

    </div>

    
    <div class="col col-3">
      <div class="description">
    <h4>VIDEO PROFILE</h4>

    <div class="img">
      <img src="assets/images/user-pic.png"/>
    </div>

    <div class="it_skills">
      <h4>IT SKILLS</h4>
      <ul>
        <li>JAVA</li>
        <li>Full Stack Development</li>
      </ul>
    </div>

    <div class="it_skills">
      <h4>OTHER SKILLS</h4>
      <ul>
          <li>JAVA</li>
          <li>Full Stack Development</li>
        </ul>
    </div>


    <div class="video_assessment">
      <h4>VIDEO ASSESSMENT</h4>

      <div class="card">
        <div class="left_sec">
            <ul>
              <li>Java Developer</li>
              <li>Google Inc.</li>
              <li>Watch Video</li>
              </ul>
        </div>
       
        <div class="left_sec tech_ass">
            <ul>
              <li>5-6 Yrs Exp</li>
              <li>Jul 7 , 2019</li>
              <li><i class="fa fa-angle-right"></i></li>
              </ul>
        </div>
      </div>

      <!--  -->

      
      <div class="card">
          <div class="left_sec">
              <ul>
                <li>Java Developer</li>
                <li>Google Inc.</li>
                <li>Watch Video</li>
                </ul>
          </div>
         
          <div class="left_sec tech_ass">
              <ul>
                <li>5-6 Yrs Exp</li>
                <li>Jul 7 , 2019</li>
                <li><i class="fa fa-angle-right"></i></li>
                </ul>
          </div>
        </div>


    </div>

<!--  -->

<div class="video_assessment">
    <h4>TECHNICAL  ASSESSMENT</h4>

    <div class="card">
      <div class="left_sec">
          <ul>
            <li>Finance Management (Adv)</li>
            <li>85%</li>
            </ul>
      </div>
     
      <div class="left_sec tech_ass">
          <ul>
            <li><i class="fa fa-angle-right"></i></li>
            <li>Requested By Employer</li>
            </ul>
      </div>
    </div>

    <!--  -->

    
    <div class="card">
        <div class="left_sec">
            <ul>
              <li>Finance Management (Adv)</li>
              <li>85%</li>
              </ul>
        </div>
       
        <div class="left_sec tech_ass">
            <ul>
              <li><i class="fa fa-angle-right"></i></li>
              <li>Requested By Employer</li>
              </ul>
        </div>
      </div>

  </div>


    <!--  -->

    <div class="certification">
      <h4>CERTIFICATION</h4>

    </div>

<div class="resume">
  <h4>RESUME</h4>
</div>

    </div>

    </div>


  </div>
  </section>
</div>
  </section>
