.select-date{
    width: 33% ;
    margin-right: 20px; 
}
.pick-time{
    justify-content: space-between
}

.slot-row {
    margin-bottom: 10px;
}

.choose-slots {
   margin-bottom: 30px; 
}

.button-col{
    width: 120px;
}

.orange-button {
    margin-top: 0px;
}

.form-group {
    label {
        display: block;
        color: #4950bf;
    }
}