.check-box{
    width: 20%;
}
.forgot-pass{
    margin-top: 24px;
    text-align: center;
}
.form-section#login{
    height: 100vh;
}

form {
    .form-group {
        input {
            font-size: 17px;
        }
    }
}