<div style="background: #f3f4f5;">
  <app-smart-header></app-smart-header>

<div class="user-list-wrapper" >

  <!-- <pre>
    {{users.length | json}}
  </pre> -->

  <nz-table
        #basicTable
        [nzData]="users"
        [nzFrontPagination]="true"
        [nzBordered]="true"
        [nzShowTotal]="true"
        [nzShowSizeChanger]="true"
        (nzPageIndexChange)="pageChanged($event)"
        (nzPageSizeChange)="pageSizeChanged($event)"
        [nzLoading]="isLoading"
        >
    <thead>
      <tr>
        <th style="width:15%">Candidate Name</th>
        <th>Email</th>
        <th style="width:30%">Jump Instructor Feedback</th>
        <th style="width:15%">Skills</th>
        <th style="width:18%">Profile Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of basicTable.data">
        <td>{{ user.FullName }}</td>
        <td>
            <span style="float: left;">
                {{ user.EmailId }}
            </span>
            <div style="float: right;">

            <a nz-button nzType="default" nzShape="circle"  target="_blank" nz-tooltip nzTooltipPlacement="bottom" nzTitle="Send Email" [attr.href]="'mailto:' + user.EmailId">
              <i nz-icon nzType="mail" nzTheme="outline"></i>
            </a>
            </div>


        </td>
        <td>
          {{ user.InstructorFeedback }}
          <button nz-button nzType="default"  nzShape="circle" style="float: right;"
                  nz-popover nzTitle="Edit Feedback" [nzContent]="feedbackTemplate"
                  [(nzVisible)]="user.visible"
                  (nzVisibleChange)="change($event)"
                  nzTrigger="click"
                  >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          <ng-template #feedbackTemplate >
            <div style="width: 250px;">
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value,user,feedbackTemplate)">
                  <nz-form-item>
                      <nz-form-control [nzSpan]="24" nzErrorTip="Please write something here!">
                        <textarea style="min-height:100px" formControlName="comment" [value]="user.InstructorFeedback" nz-input rows="2" placeholder="write any thing"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control  [nzSpan]="24">
                        <button style="margin-right: 15px;" nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
                        <button nz-button (click)="resetForm($event)">Reset</button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
            </div>
            </ng-template>

        </td>
        <td>
            <!-- {{user.CandidateSkills | json}} -->
          <span  nzType="default"  nz-popover nzTitle="Skills"  [nzContent]="contentTemplate"  nzTrigger="hover">
            <!-- Skills -->
            {{skillFunction(user.CandidateSkills)}}
          </span>
            <ng-template #contentTemplate>
                <div style="width: 250px;max-height: 166px; overflow-y: scroll" *ngIf="user.CandidateSkills.length != 0">
                    <p class="skill-title">Primary</p>
                    <div *ngFor="let skill of user.CandidateSkills">
                      <label *ngIf="skill.SkillType == 'Primary'">
                        {{skill.Skill}} ({{getPercent(skill.Proficiency)}})%
                        <nz-progress [nzShowInfo]="false" [nzPercent]="getPercent(skill.Proficiency)" nzSize="small">Skill</nz-progress>
                      </label>
                    </div>
                </div>
                <div style="width: 250px;max-height: 166px; overflow-y: scroll" *ngIf="user.CandidateSkills.length != 0">
                    <nz-divider></nz-divider>
                    <p class="skill-title" style="margin-top:15px">Additional</p>
                    <div *ngFor="let skill of user.CandidateSkills">
                      <label *ngIf="skill.SkillType == 'Additional'">
                        {{skill.Skill}} ({{getPercent(skill.Proficiency)}})%
                        <nz-progress [nzShowInfo]="false" [nzPercent]="getPercent(skill.Proficiency)" nzSize="small">Skill</nz-progress>
                      </label>
                    </div>
                </div>
                <div style="width: 170px;" *ngIf="user.CandidateSkills.length == 0">
                    <p class="skill-title" style="margin:0">No data found</p>
                </div>
              </ng-template>
        </td>
        <td>
            <a nzType="primary" nz-button style="margin-right: 15px;" target="_blank" [routerLink]="['/coverPage/' + user.UserName]" [attr.href]="'/coverPage/' + user.UserName" >View </a>

              <a  nzType="primary" nz-button target="_blank" [attr.href]="'mailto:?subject=Candidate Details&body=https://appst.cliksource.com/jumpprofessional/coverPage/' + user.UserName" >Share </a>

        </td>
      </tr>
    </tbody>
  </nz-table>

</div>

</div>
