<div class='score-container'>
    <div class="radial-progress">
        <div class="circle">
            <div class="mask full" [@rotatedState]="{value: state, params: { rotDeg: fillRotation}}">
                <div class="fill" [@rotatedState]="{value: state, params: { rotDeg: fillRotation}}"></div>
            </div>
            <div class="mask half">
                <div class="fill" [@rotatedState]="{value: state, params: { rotDeg: fillRotation}}"></div>
                <div class="fill fix" [@rotatedState]="{value: state, params: { rotDeg: fixRotation}}"></div>
            </div>
        </div>
        <div class="inset">
            <img class="icon" [src]="iconPath" />
        </div>

    </div>
    <div class="text"><span >{{months}} Months</span></div>
</div>