.cover-page-header{

    .main-heading{
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 6px;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        line-height: 1;
        .candidate-name{
            text-transform: uppercase;
        }
        .company-name img{
          width: 230px;
          height: auto;
        }
    }
    .contact-info{
        font-size: 18px;
        color: rgb(43, 189, 225);
        margin-bottom: 6px;

        a{
          color: rgb(43, 189, 225);
          &:hover{
            text-decoration: underline;
          }
        }
        .email{
            margin-left: 40px;
        }
    }
    .role{
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 500;
        color: rgb(43, 189, 225);
        margin-bottom: 18px;
    }
    .social{
        display: flex;
        align-items: center;
        div{
            font-size: 45px;
            margin-right: 15px;
            display: flex;
            align-items: center;

            .link{
                text-decoration: none;
                display: flex;
                margin-right: 21px;
                .fa-linkedin-square{
                    color: rgb(57, 126, 177)
                }
                .fa-github{
                    color: rgb(90, 90, 90)
                }
                .fa-id-card{
                    color: rgb(83, 187, 221)
                }
            }
            
        }
        .resume-heading{
            margin-left: 7px;
            font-size: 20px;
            color: rgb(83, 187, 221);
            text-decoration: none;
        }
    }
}
