app-auth-landing {
  width: 100%;
  left: 0;
  display: block;
  overflow-x: hidden;
  height: 100vh;

  .auth-landing {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: 0.3s linear left;

    .left-section {
      float: left;
      width: 66.6%;
      height: 100vh;
      // padding: 100px 0 30px;
      text-align: center;
      .left-section-inner {
        background: url(/assets/images/background-grey.svg);
        background-repeat: repeat;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        .content {
          padding-bottom: 40px;
          margin: auto;
        }
      }
    }
    .right-section {
      float: left;
      width: 33.3%;
      height: 100vh;
      background: #fff;
      box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.15);
      #social-login .padded-socials {
        padding: 140px 65px 0;
      }
      .social-button {
        margin: 0 auto 25px;
        width: 160px;
        font-size: 18px;
        color: #fff;
        img {
          border-radius: 2px;
          cursor: pointer;
          &:hover {
            box-shadow: none;
            transition: all 0.2s linear;
          }
        }
      }
      .auth-buttons {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto 100px;
        width: 225px;

        #login-btn {
          width: 75px;
        }
        button.white {
          float: left;
          padding: 5px 10px;
          border: 1px solid #60606080;
          border-radius: 2px;
          color: #606060;
          background: #fff;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
        }
        .big-light-text {
          margin: 9px 24px;
          float: left;
          font-family: SourceSansProLight;
          font-size: 18px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.1px;
          text-align: center;
          color: #606060;
        }
      }
      .tnc-link {
        font-size: 16px;
        text-align: center;
        a {
          color: #606060;
          text-decoration: underline;
        }
      }
      .right-cross {
        position: absolute;
        top: 30px;
        right: 25px;
        font-size: 20px;
        font-weight: 600;
        color: #606060;
        cursor: pointer;
    }
    @media screen and (max-width: 1023px) {
        #social-login .padded-socials {
            padding: 140px 30px 0;
          }
    }
    @media screen and (max-width: 767px) {
        #social-login .padded-socials {
            display: flex;
            flex-wrap: wrap;
            padding: 30px 10px;
          }
    }

    }
    // @media screen and (max-width: 1023px) {
    //   .right-section {
    //     #social-login .padded-socials {
    //       padding: 140px 30px 0;
    //     }
    //   }
    // }
    // @media screen and (max-width: 767px) {
    //   .right-section {
    //     #social-login .padded-socials {
    //       display: flex;
    //       flex-wrap: wrap;
    //       padding: 30px 10px;
    //     }
    //   }
    // }
  }
}
