.mid-logo{
    margin: 0 auto;
}
.left-section-text{
    display: block;
    margin: 10% auto 0;
    width: 100%;
    max-width: 180px;
}
.content {
    padding-top: 100px;
    padding-bottom: 30px;
}